absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1665754496418/work
aggdraw==1.3.15
aiohttp @ file:///Users/runner/miniforge3/conda-bld/aiohttp_1663850887487/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1636093929600/work
ann==0.1.0
ann-visualizer==2.5
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1660053721269/work/dist
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
appnope @ file:///home/conda/feedstock_root/build_artifacts/appnope_1649077682618/work
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1640817743617/work
argon2-cffi-bindings @ file:///Users/runner/miniforge3/conda-bld/argon2-cffi-bindings_1649500378483/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1660605382950/work
astunparse @ file:///home/conda/feedstock_root/build_artifacts/astunparse_1610696312422/work
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1640026696943/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1659291887007/work
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1667688356751/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1649463573192/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1656355450470/work
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1664823096650/work
Bottleneck @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_croot-q_dytog6/bottleneck_1648041541248/work
branca @ file:///home/conda/feedstock_root/build_artifacts/branca_1650311966802/work
bresenham==0.2.1
brotlipy @ file:///Users/runner/miniforge3/conda-bld/brotlipy_1648854303569/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1660055382950/work
campy==0.0.1.dev19
certifi==2022.12.7
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1656783163977/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1661170624537/work
click @ file:///Users/runner/miniforge3/conda-bld/click_1651215239605/work
click-plugins==1.1.1
cligj @ file:///home/conda/feedstock_root/build_artifacts/cligj_1633637764473/work
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1632508026186/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1655412516417/work
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1662135353230/work
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1665535611627/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
cycpd==0.25
Cython==0.29.32
cytoolz==0.11.0
dask @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_40d5a021-9778-40c4-8ae5-ad4f64e96913huuyzcqh/croots/recipe/dask-core_1653082108502/work
debugpy @ file:///Users/runner/miniforge3/conda-bld/debugpy_1660619056300/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1653058582944/work
dropbox @ file:///home/conda/feedstock_root/build_artifacts/dropbox_1665537852165/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
et-xmlfile==1.0.1
etils @ file:///home/conda/feedstock_root/build_artifacts/etils_1663033893010/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1665301981797/work
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/python-fastjsonschema_1663619548554/work/dist
Fiona @ file:///Users/runner/miniforge3/conda-bld/fiona_1665864667305/work
flatbuffers @ file:///home/conda/feedstock_root/build_artifacts/python-flatbuffers_1620718971772/work
flit_core @ file:///home/conda/feedstock_root/build_artifacts/flit-core_1645629044586/work/source/flit_core
folium @ file:///home/conda/feedstock_root/build_artifacts/folium_1665185302619/work
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1664574299901/work
frozendict==2.3.0
frozenlist @ file:///Users/runner/miniforge3/conda-bld/frozenlist_1659556995630/work
fsspec @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_0340ff96-9df7-4fee-9b6f-c5e08565e2c7b_zyhf9p/croots/recipe/fsspec_1652802117897/work
future @ file:///Users/runner/miniforge3/conda-bld/future_1649010197240/work
gast @ file:///home/conda/feedstock_root/build_artifacts/gast_1596839682936/work
GDAL==3.5.2
geopandas @ file:///home/conda/feedstock_root/build_artifacts/geopandas_1658688831518/work
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1666033103415/work
google-auth-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/google-auth-oauthlib_1630497468950/work
google-pasta==0.2.0
googleapis-common-protos @ file:///Users/runner/miniforge3/conda-bld/googleapis-common-protos-feedstock_1657690382544/work
graphviz==0.20.1
grpcio @ file:///Users/runner/miniforge3/conda-bld/grpcio_1648220704225/work
h5py @ file:///Users/runner/miniforge3/conda-bld/h5py_1660488180144/work
html5lib @ file:///home/conda/feedstock_root/build_artifacts/html5lib_1592930327044/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
imagecodecs @ file:///Users/runner/miniforge3/conda-bld/imagecodecs_1665858631505/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1674460904928/work
imageio-ffmpeg @ file:///home/conda/feedstock_root/build_artifacts/imageio-ffmpeg_1649960641006/work
imgviz @ file:///home/conda/feedstock_root/build_artifacts/imgviz_1661723708688/work
importlib-metadata @ file:///Users/runner/miniforge3/conda-bld/importlib-metadata_1653252869256/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1665204935269/work
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1664214831245/work
ipympl @ file:///home/conda/feedstock_root/build_artifacts/ipympl_1661165023080/work
ipython @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_b42ce53b-9348-4ffe-874e-ee7a7d34be58zn88hkt_/croots/recipe/ipython_1651600151534/work
ipython-genutils==0.2.0
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1662482321563/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1659959867326/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1663332044897/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1600692310011/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1662736858348/work
jupyter @ file:///Users/runner/miniforge3/conda-bld/jupyter_1637233273421/work
jupyter-console @ file:///home/conda/feedstock_root/build_artifacts/jupyter_console_1655961255101/work
jupyter-server @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_1665524049375/work
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1665540280048/work
jupyter_core @ file:///Users/runner/miniforge3/conda-bld/jupyter_core_1658332693870/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1666613090338/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1649936611996/work
jupyterlab-widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1662157840858/work
jupyterlab_server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1667278393170/work
keras @ file:///home/conda/feedstock_root/build_artifacts/keras_1643987515720/work/keras-2.8.0-py2.py3-none-any.whl
Keras-Preprocessing @ file:///home/conda/feedstock_root/build_artifacts/keras-preprocessing_1610713559828/work
keras-tuner @ file:///home/conda/feedstock_root/build_artifacts/keras-tuner_1665943717081/work
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1657953151081/work
labelme @ file:///home/conda/feedstock_root/build_artifacts/labelme_1668524906543/work
locket @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_cb58d7ee-eabb-4e31-8a7c-68bb73b3bb2e3lthxgi7/croots/recipe/locket_1652903118916/work
lxml @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_71bcfe2b-fe7b-414a-9d7e-4f32bdd95f6d2vxca0jd/croots/recipe/lxml_1657545136492/work
mapclassify @ file:///home/conda/feedstock_root/build_artifacts/mapclassify_1627363180059/work
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1657921053229/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1648737588665/work
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1665498717902/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
mistune @ file:///home/conda/feedstock_root/build_artifacts/mistune_1657892024508/work
multidict @ file:///Users/runner/miniforge3/conda-bld/multidict_1648882571854/work
multitasking @ file:///home/conda/feedstock_root/build_artifacts/multitasking_1622493113162/work
munch==2.5.0
munkres==1.1.4
mylib==0.0.1
natsort @ file:///home/conda/feedstock_root/build_artifacts/natsort_1662085508562/work
nbclassic @ file:///home/conda/feedstock_root/build_artifacts/nbclassic_1665246954203/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1665125402713/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/nbconvert-meta_1665098304483/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1665426034066/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1664684991461/work
netron==6.7.6
networkx @ file:///opt/conda/conda-bld/networkx_1647437648384/work
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1665745366501/work
notebook_shim @ file:///home/conda/feedstock_root/build_artifacts/notebook-shim_1666077752553/work
numexpr @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_86f7f9a1-aad0-44a0-8df1-c3ccaec3543b4tgd344r/croots/recipe/numexpr_1656071947451/work
numpy @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_ba5c3eaa-be93-4f42-ae24-fa720a3c6627m_sp7nbj/croots/recipe/numpy_and_numpy_base_1652801688716/work
oauthlib @ file:///home/conda/feedstock_root/build_artifacts/oauthlib_1666056362788/work
opencv-python==4.6.0
openpyxl==3.0.10
opt-einsum @ file:///home/conda/feedstock_root/build_artifacts/opt_einsum_1617859230218/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas==1.4.2
pandas-datareader @ file:///tmp/build/80754af9/pandas-datareader_1626259591421/work
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
partd @ file:///opt/conda/conda-bld/partd_1647245470509/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1665356157073/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1660385909106/work
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1633981968097/work
ply==3.11
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1665692535292/work
promise @ file:///Users/runner/miniforge3/conda-bld/promise_1649695698280/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1662384672173/work
protobuf==3.20.1
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1666155465747/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pycpd==2.0.0
pydot @ file:///Users/runner/miniforge3/conda-bld/pydot_1666825704281/work
pyglet @ file:///Users/runner/miniforge3/conda-bld/pyglet_1666875158688/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1660666458521/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1663432570896/work
pymatreader @ file:///home/conda/feedstock_root/build_artifacts/pymatreader_1648728548181/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1665350324128/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
pyproj @ file:///Users/runner/miniforge3/conda-bld/pyproj_1662786005383/work
pyrsistent @ file:///Users/runner/miniforge3/conda-bld/pyrsistent_1649013428463/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-decouple @ file:///home/conda/feedstock_root/build_artifacts/python-decouple_1643839541685/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1664798238822/work
pyu2f @ file:///home/conda/feedstock_root/build_artifacts/pyu2f_1604248910016/work
PyWavelets @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_croot-p9yhynit/pywavelets_1648820430806/work
PyYAML==6.0
pyzmq @ file:///Users/runner/miniforge3/conda-bld/pyzmq_1663830754951/work
QtPy @ file:///home/conda/feedstock_root/build_artifacts/qtpy_1667873092748/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1661872987712/work
requests-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/requests-oauthlib_1643557462909/work
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1658328885051/work
Rtree @ file:///Users/runner/miniforge3/conda-bld/rtree_1665582647417/work
scikit-image @ file:///Users/runner/miniforge3/conda-bld/scikit-image_1667117210012/work
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1666885122418/work
scipy @ file:///Users/ktietz/ci_310/scipy_1644255974431/work
seaborn==0.10.1
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1628511208346/work
Shapely @ file:///Users/runner/miniforge3/conda-bld/shapely_1665624744998/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1662051266223/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1658207591808/work
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1664126450622/work
statsmodels @ file:///Users/runner/miniforge3/conda-bld/statsmodels_1667586087434/work
stone @ file:///home/conda/feedstock_root/build_artifacts/stone_1643284666238/work
tabulate @ file:///home/conda/feedstock_root/build_artifacts/tabulate_1665138452165/work
tensorboard @ file:///home/conda/feedstock_root/build_artifacts/tensorboard_1644015949874/work/tensorboard-2.8.0-py3-none-any.whl
tensorboard-data-server @ file:///Users/runner/miniforge3/conda-bld/tensorboard-data-server_1649932885620/work/tensorboard_data_server-0.6.0-py3-none-macosx_11_0_arm64.whl
tensorboard-plugin-wit @ file:///home/conda/feedstock_root/build_artifacts/tensorboard-plugin-wit_1641458951060/work/tensorboard_plugin_wit-1.8.1-py3-none-any.whl
tensorflow @ file:///Users/uwe/Development/conda-forge/tensorflow-feedstock-4/tensorflow-feedstock-osx_arm64_abseil_cpp20210324.2grpc_cpp1.45python3.10.____cpython/miniforge3/conda-bld/tensorflow-split_1653238057410/work/tensorflow_pkg/tensorflow-2.8.1-cp310-cp310-macosx_11_0_arm64.whl
tensorflow-datasets @ file:///home/conda/feedstock_root/build_artifacts/tensorflow-datasets_1665032537013/work
tensorflow-estimator @ file:///Users/uwe/Development/conda-forge/tensorflow-feedstock-4/tensorflow-feedstock-osx_arm64_abseil_cpp20210324.2grpc_cpp1.45python3.10.____cpython/miniforge3/conda-bld/tensorflow-split_1653238057410/work/tensorflow-estimator/wheel_dir/tensorflow_estimator-2.8.0-py2.py3-none-any.whl
tensorflow-metadata @ file:///home/conda/feedstock_root/build_artifacts/tensorflow-metadata_1661966291611/work/tensorflow_metadata-1.10.0-py3-none-any.whl
termcolor @ file:///home/conda/feedstock_root/build_artifacts/termcolor_1662985294144/work
terminado @ file:///Users/runner/miniforge3/conda-bld/terminado_1664482261038/work
terminaltables @ file:///home/conda/feedstock_root/build_artifacts/terminaltables_1639069502917/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1643647933166/work
tifffile @ file:///tmp/build/80754af9/tifffile_1627275862826/work
tinycss2 @ file:///home/conda/feedstock_root/build_artifacts/tinycss2_1666100256010/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
toolz @ file:///tmp/build/80754af9/toolz_1636545406491/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1656938163103/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1662214488106/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1666115969632/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1665144421445/work
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1649111971342/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1658789158161/work
visualkeras==0.0.2
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1662334000707/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1660053523487/work
widgetsnbextension @ file:///home/conda/feedstock_root/build_artifacts/widgetsnbextension_1662157836868/work
wrapt @ file:///Users/runner/miniforge3/conda-bld/wrapt_1651495311847/work
xmltodict @ file:///home/conda/feedstock_root/build_artifacts/xmltodict_1652020822199/work
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1663619671984/work
yarl @ file:///Users/runner/miniforge3/conda-bld/yarl_1648966561602/work
yfinance @ file:///home/conda/feedstock_root/build_artifacts/yfinance_1674805454824/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1665306627898/work
